/*
!private/
!public/
!.gitignore
!banned_words.txt
!banned_responses.txt
!greetings.txt
!greeting_responses.txt
!keywords.txt
!keyword_responses.txt
!for_delete.txt
!banned_channels.txt
!keywords_for_sticker.txt
!keywords_for_sticker_responses.txt
!voice_counter.txt
!voice_responses.txt
!video_responses.txt